.employerView {
    display: flex;
    flex-direction: column;
    background-color: #6C63FE;
    height: 87vh;
}

.employerViewBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileData {
    background-color: #fff;
    width: 78%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.jobsData {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 78%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 35vh;
    overflow: auto;
}

.employeeData {
    background-color: #fff;
    width: 78%;
    margin: 0%;
    margin-left: 6%;
    margin-bottom: 10%;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
}

.jobsDataText {
    margin: 1px;
    text-align: left;
}

.jobCard {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.jobCardText {
    color: #fff;
    padding: 2px;
}

.addJobButtonDiv {
    display: flex;
    justify-content: flex-end;
    margin: 10px 40px 0 0;
}

.employeeDataText {
    margin: 1px;
    text-align: left;
}

.employeeCard {
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}

.topCard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    align-items: center;
    font-size: 14px;
}

.middleCard {
    display: block;
    margin: 0;
    align-items: center;
    font-size: 14px;
}

.employeeCardText {
    margin: 0;
    color: #fff;
}

.delete-job-from-list-card {
    margin-top: -15px;
    margin-bottom: 15px;
    background-color: rgb(190, 189, 189);
    border: solid black 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
}

.job-name-link{
    color: white;
}