/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */
body {
  background-color: #fff;
}

.landingInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: -10px 0 40px 0;
}

.landingInfoTitle {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px 0 -20px 0;
  padding: 10px;
}

.grid {
  background-color: #6C63FE;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #6C63FE;
}

.h3-One {
  margin: 0 0 10px 0;
  color: #fff;
}

.landing-page-h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.theButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6C63FE;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 200px;
}

.linkMainPage {
  text-decoration: none;
  color: black
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}