.employerDetailsPage {
    margin: 20px;
}

.matchedCandidateDropDown {
    display: flex;
    padding: 5px;
    align-items: center;
}

.job-details-card {
    display: block;
    margin: 20px;
    text-align: left;
    font-size: 14px;
}

.employerDetailsTitle {
    text-align: left;
    margin-bottom: -2px;
}

.employeeDetailsData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employeeCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 310px;
}

.matchedCandidateText {
    text-align: center;
}