.loginPage {
    background-color: #6C63FE;
}

.formPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
}

.loginPageBackBtn {
    display: flex;
    justify-content: flex-start;
}