.adminPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background-color: #6C63FE;
}

.adminContent {
    margin: 60px;
}

.adminTitle {
    color: #fff;
}

.vetTable {
   display: flex;
   flex-direction: column;
   align-items: center;
}