.aboutContainer {
    display: flex;
    margin: 20px;
}

p {
    color: rgb(149, 149, 149)
}

h3 {
    text-align: center;
    margin: -20px 0 30px 0;
}

.aboutImg {
    display: flex;
    width: 100px;
    height: 45px;
    margin-left: 0;
}

.mission {
    background-color: #6C63FE;
    border-radius: 20px;
    padding: 2%;
    margin: 5px;
    text-align: center;
}

.missionText {
    color: #fff
}

.founderInfo {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
}